@model WebApplication1.Models.ModelVM
 
@{
    ViewData["Title"] = "Edit";
}




 

<br />

<h2 class="text-info">Edit @Model.model.Name </h2>
 
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="model.Id"  hidden/>
            <div class="form-group row">
                <div class="col-2">
                <label asp-for="makes" class="control-label"></label>
                </div>
                <div class="col-6">
                    <select asp-for="model.MakeID" asp-items="Model.CselectListItems(Model.makes)" class="form-control" ></select>
                </div>            
            </div>

            <div class="form-group row">
                     <div class="col-2">
                <label asp-for="model.Name" class="control-label"></label>
                </div>
                <div class="col-6">
                    <input asp-for="model.Name" class="form-control" />
                </div>    
            </div>


            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success"> Back </a>

            </div>
        </form>
    </div>
</div>
 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
